body
{
    background-color: rgb(126, 223, 194)
}
#titulo{
    color:rgb(206, 15, 231);
    font-size: 3em
}
font-family

.insta¨{
    width:40px;
    height:40px;
}

.carousel{
    width: 400px;
    margin: 0 auto;
}

.foto {
    width: 300px;
    margin: 0 auto;
}

